@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.App {
  text-align: center;
  font-family: 'Space Mono', monospace !important;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}

.disable-select{
  -webkit-user-select: none !important;  
  -moz-user-select: none !important;    
  -ms-user-select: none !important;      
  user-select: none !important;
}