* {
    box-sizing: border-box;
    z-index: 2;
}

.container {
    background: #181818;
    padding: 10%;
    position: relative;
}

.card-carousel {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 50vh;
    margin: 10% auto;
    align-items: center;
    position: relative;
}

.card {
    color: #f3f3f3;
    background: #1b1b1b;
    border-radius: 15px;
    border: 0.5px solid #79797944;
    padding: 30px;
    box-shadow: 5px 5px 25px #b6b6b650;
    width: 75%;
    height: 120%;
    opacity: 0;
    transition: all 0.7s ease-out;
    position: absolute;
    transform: scale(0.85) translateY(50px);
    left: 12.5%;
    cursor: pointer;
    z-index: -1;
}

.card h2,
.card p {
    line-height: 1.5;
}

.card.next p {
    visibility: hidden;
}

.card.prev {
    transform: scale(1.1) translateY(-50px);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}

.card.active {
    opacity: 1;
    transform: scale(1) translateY(0);
    box-shadow: 0 30px 20px #00000057;
    z-index: 1;
}

.card.next {
    transition-delay: 0.2s;
    opacity: 1;
    height: 125%;
}