body {
    font-family: "Adobe Arabic", Arial, sans-serif;
    background-color: rgb(0, 0, 0);
}  

label {
    color: seashell;
    display: flex;
}

button {
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 525;
    background-color: rgb(245, 245, 245) ;
}

input {
    border: none;
    border-radius: 2.5px;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 12.5px;
    width: 50%;
    height: 25%;
    transform: translate(25%, 140%);
}

.Gen {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw; 
    height: 100vh;
}

label {
    display: grid;
    grid-template-columns: auto auto;
}


input, p {
    padding: 0% 5%;
}

#input, #samples {
    padding: 0% 5%;
}